/* Media Query for screens with a maximum width of 1200px */
@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none; /* Hide the desktop navigation */
    }
    #hamburger-nav {
      display: flex; /* Show the hamburger navigation */
    }
  
    /* Adjustments for the 'experience' section and details container */
    #experience,
    .experience-details-container {
      margin-top: 2rem; /* Increase top margin */
    }
  
    /* Adjustments for the 'profile' section and section container */
    #profile,
    .section-container {
      display: block; /* Change to block-level display */
    }
  
    .arrow {
      display: none; /* Hide the arrow icon */
    }
  
    /* Adjustments for section heights */
    section,
    .section-container {
      height: fit-content; /* Adjust height to fit content */
    }
  
    section {
      margin: 0 5%; /* Adjust left and right margins */
    }
  
    /* Adjustments for the profile picture container */
    .section__pic-container {
      width: 275px; /* Adjust width */
      height: 275px; /* Adjust height */
      margin: 0 auto 2rem; /* Adjust margins */
    }
  
    /* Adjustments for the 'about' containers */
    .about-containers {
      margin-top: 0; /* Remove top margin */
    }
  }
  
  /* Media Query for screens with a maximum width of 600px */
  @media screen and (max-width: 600px) {
    /* Adjustments for the 'contact' section and footer */
    #contact,
    footer {
      height: 40vh; /* Adjust heights */
    }
  
    /* Adjustments for the 'profile' section */
    #profile {
      height: 83vh; /* Adjust height */
      margin-bottom: 0; /* Remove bottom margin */
    }
  
    /* Adjustments for article text size */
    article {
      font-size: 1rem; /* Reduce font size */
    }
  
    /* Adjustments for footer navigation */
    footer nav {
      height: fit-content; /* Adjust height to fit content */
      margin-bottom: 2rem; /* Adjust margin */
    }
  
    /* Adjustments for layout in 'about', 'contact', and button containers */
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap; /* Allow wrapping content */
    }
  
    /* Adjustments for font size in various elements */
    .contact-info-container,
    p,
    .nav-links,
    li a {
      font-size: 1rem; /* Reduce font size */
    }
  
    /* Adjustments for the 'experience' sub-title */
    .experience-sub-title {
      font-size: 1.25rem; /* Reduce font size */
    }
  
    /* Adjustments for the 'logo' text size */
    .logo {
      font-size: 1.5rem; /* Reduce font size */
    }
  
    /* Adjustments for navigation links */
    .nav-links {
      flex-direction: column; /* Arrange links vertically */
      gap: 0.5rem; /* Add gap between links */
      text-align: center; /* Center-align text */
    }
  
    /* Adjustments for the profile picture container */
    .section__pic-container {
      width: auto; /* Adjust width */
      height: 46vw; /* Adjust height based on viewport width */
      justify-content: center; /* Center-align content horizontally */
    }
  
    /* Adjustments for paragraph text size */
    .section__text__p2 {
      font-size: 1.25rem; /* Reduce font size */
    }
  
    /* Adjustments for section title */
    .title {
      font-size: 2rem; /* Reduce font size */
    }
  
    /* Adjustments for text alignment within containers */
    .text-container {
      text-align: justify; /* Justify text */
    }
  }
  
  /* Media Query for screens with a maximum width of 1400px */
  @media screen and (max-width: 1400px) {
    /* Adjustments for the 'profile' section */
    #profile {
      height: 83vh; /* Adjust height */
      margin-bottom: 6rem; /* Increase bottom margin */
    }
  
    /* Allow wrapping content in 'about' containers */
    .about-containers {
      flex-wrap: wrap; /* Allow wrapping content */
    }
  }
  